/* =====================================
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
}

a {
  color: #278da4;
  text-decoration: none;
}

h1 {
  font-family: 'Bree Serif', serif;
}

p {
  margin-bottom: 1.25em;
}

.main-content {
  margin: 2em auto;
}

.card {
  padding: 2.5em 2em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
  cursor: pointer;
}

.card h1 {
  color: #278da4;
  margin: 0.35em 0 0;
  line-height: 1.25;
}

.card:hover,
#button:hover {
  background-color: rgba(39, 141, 164, 0.8);
}

.panel {
	padding-top: 250px;
	margin: 0 auto;
}

#button {
	display: inline-block;
	padding: 2.5em 2em;
	border: 1px solid #e1e1e1;
	border-radius: 0.25em;
	cursor: pointer;
	color: #278da4;
	margin: 0.35em 0 0;
	line-height: 1.25;
	width: 200px;
}

/* =================================
Form Layout Styles
==================================== */

.form {
	color: #278da4;
	font-weight: bold;
}

.form-group {
	text-align: left;
	font-weight: bold;
}

.form-control input[type=checkbox] {
	text-align: left;
}
.brain {
	width: 450px;
	height: 330px;
}
.btn {
	border: 1px solid #e1e1e1;
	color: #278da4;
	background: #fff;
}

.btn:hover {
	background-color: rgba(39, 141, 164, 0.8);
}

.nea {
	width: 45px;
}
.patient-form-h{
	padding-top: 25px;
	padding-bottom: 25px;
}
ul {
	list-style-type: none;
	padding-left: 0px;
}
