{% load staticfiles %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Select An Age Group</title>
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway">
    <link rel="stylesheet" href="{% static 'css/page.css' %}" >
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  </head>
  <body>
    <div class="main-content">
      {% for group in groups %}
      <div class="card">
        <h1>{{ group.group }}</h1>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
