{% load staticfiles %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Path</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway">
    <link rel="stylesheet" href="{% static 'css/page.css' %}" >
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  </head>
  <body>
    <div class="panel">
        <a href="{% url 'patient' %}" id="button"><h1>Patient</h1></a>
        <a href="{% url 'provider' %}" id="button"><h1>Provider</h1></a>
    </div>
  </body>
</html>
