<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
    <script src="https://use.fontawesome.com/560f1b0bce.js"></script>
    <meta charset="utf-8">
    <title>Header</title>

  </head>
  <header>
      <div class="row">
        <div class="col-md-6">
          <h1 class="site-name">Virality</h1>
        </div>
        <div class="col-md-6 align-right">
          <ul class="header-content">
            <li class="side-nav">Schedule <i class="fa fa-calendar-check-o" aria-hidden="true"></i></li>
            <li class="side-nav middle">Review <i class="fa fa-book" aria-hidden="true"></i></li>
            <li class="side-nav">Profile <i class="fa fa-user-circle" aria-hidden="true"></i> </li>
          </ul>
        </div>
      </div>
  </header>
</html>
