{% load staticfiles %}
{% load widget_tweaks %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway">
    <link rel="stylesheet" href="{% static 'css/page.css' %}" >
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>

<form method="post" novalidate class="form">
  <div class="container">
    <h4 class="patient-form-h">Please fill out this form to start your journey to better health</h4>
    {% csrf_token %}
      <div class="form-group">
        <div class="row">


          <div class="col-md-8">
            <ul>
              <li>
                <label class="nea">Name </label>
                {{ form.name }}
              </li>
              <li>
                <label class="nea">Email </label>
                {{ form.email }}
              </li>
              <li>
                <label class="nea">Age </label>
                {{ form.age }}
              </li>
              <li>
                <label>Gender </label>
                {{ form.gender }}
              </li>
              <li>
                <label>Are you pregnant?</label>
                {{ form.preg }}
              </li>
              <li>
                <label>Please select from the following: </label>
                {{ form.p_class }}
              </li>
              <li>
                <label>What calendar do you currently use?</label>
              </li>
              <li>
                {{ form.calendar }}
              </li>
              <li>
                <label>May we import your schedule?</label>
                {{ form.schedule }}
              </li>
              <li>
                <label>May we track your location?</label>
                {{ form.location }}
              </li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li>
                <label>How do you feel about vaccines?</label>
                {{ form.feelings }}
              </li>
              <li>
                <label>Would you like more info about vaccines?</label>
                {{ form.info }}
              </li>
              <li>
                <label>How would you like to learn about vaccines?</label>
              </li>
              <div class="container">
                <label>Email
                  <input type="checkbox" checked="checked" value="email">
                  <span class="checkmark"></span>
                </label>
                <label>Text
                  <input type="checkbox" value="text">
                  <span class="checkmark"></span>
                </label>
                <label>Subscription Service
                  <input type="checkbox"  value="subscription">
                  <span class="checkmark"></span>
                </label>
                <label>Physical Content
                  <input type="checkbox" value="physical">
                  <span class="checkmark"></span>
                </label>
                <label>Friend Connect
                  <input type="checkbox" value="friends">
                  <span class="checkmark"></span>
                </label>
              </div>
              <li>
                <label>Would you be interested in taking part in advocacy?</label>
                {{ form.advocacy }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container purplecontainer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <img class="purpleimg" src="{% static "img/purple.png" %}" alt="Brain image"/>
      </div>
</div>
</html>
