{% load staticfiles %}


<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vaccination Tracker</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
    <link href={% static 'css/page.css' %} rel="stylesheet">
    <link href={% static 'css/layout.css' %} rel="stylesheet">
  </head>
  <body>
    <div class="panel">
        <a href="{% url 'patient' %}" id="button">Patient</a>
        <a href="{% url 'provider' %}" id="button">Provider</a>
    </div>
  </body>
</html>
